.list-custom{
  width: 300px;
  height: 425px;
  border: 2px solid white;
  border-radius: 20px;
  flex-shrink: 0;
}

.image{
  z-index: 20;
  width: 300px;
  height: 425px;
}

.left{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 45%;
  left: 20px;
  width: 50px;
  height: 80px;
  cursor: pointer;
  font-size: 50px;
  border-radius: 10%;
}

.right{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 45%;
  right: 20px;
  width: 50px;
  height: 80px;
  cursor: pointer;
  font-size: 50px;
  border-radius: 10%;
}