*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

nav
{
    padding-left: 3vw;
    padding-right: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid black;
    height: 8vh;
}

.nav1 a
{
    display: flex;
    column-gap: 15px;
    position: relative;
    text-decoration: none;
    color: black;
}

.nav1 a::after
{
    content: '';
    border: 2px solid;
    position: absolute;
    bottom: 0px;
    display: none;
}

.nav1:hover
{
    cursor: pointer;
}

.nav1:hover a::after
{
    transition: width 0.1s;
    width: 27.5vh;
    display: block;
}

.nav11
{
    font-size: 4vh;
    font-weight: bold;
}

.nav12
{
    padding-top: 18px;
    font-size: 2vh;
}

.nav2
{
    display: flex;
    column-gap: 8vh;
    font-size: 3vh;
}

.nav21,.nav22
{
    position: relative;
}

.nav21:hover, .nav22:hover
{
    cursor: pointer;
}

.nav21::before, .nav22::before
{
    content: '';
    border: 1px solid black;
    position: absolute;
    bottom: -5px;
    display: none;
}

.nav21:hover::before
{
    display:block;
    transition: width 0.2s;
    width: 100%;
}

.nav22:hover::before
{
    display:block;
    transition: width 0.2s;
    width: 100%;
}

.nav21 a, .nav22 a
{
    text-decoration: none;
    color: black;
}

.nav3
{
    border: 2px solid black;
    border-radius: 50%;
    width: 6vh;
    height: 6vh;
    font-size: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(225, 225, 44);
}

.nav3:hover
{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.enter
{
    margin-top: 10vh;
    margin-left: 20vw;
    margin-right: 20vw;

    padding: 10px;
    border-radius: 19px;
    height: 10vh;
    display: flex;
    position: relative;
    background-color: #B994E9;
}

.enter-box
{
    width: 90%;
}

.enter-box input
{
    border-radius: 19px;
    width: 100%;
    height: 100%;
}


.add button
{
    border: 3px solid black;
    border-radius: 19px;
    background-color: #4E4CC1;
    color: white;
    width: 8%;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add button:hover
{
    cursor: pointer;
    background-color: #32317b;
}

.enter-box input
{
    font-size: 20px;
    outline: none;
    padding-left: 10px;
}

::placeholder
{
    color: black;
}

.todo-list
{
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 5vh;
    height: 60vh;
    border-radius: 19px;
    border: 2px solid black;
    background-color: #9D73B1;
}

.option
{
    display: flex;
    padding-left: 50%;
    padding-top: 7vh;
    padding-right: 20vw;
    justify-content: space-between;
    column-gap: 10px;
}

.option1, .option2, .option3
{
    border: 2px solid black;
    border-radius: 10px;
    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #393292;
    color: white;
}

.option1:hover
{
    cursor: pointer;
    background-color: #554bd3;
}

.option2:hover
{
    cursor: pointer;
    background-color: #554bd3;
}

.option3:hover
{
    cursor: pointer;
    background-color: #554bd3;
}

#task
{
    border: 3px solid black;
}

.tasks
{
    list-style: none;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.tasks li
{
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    font-weight: bold;
    font-size: 2vh;
    background-color: #CAA3E1;
    display: flex;
    justify-content: space-between;
}

.item-option
{
    display: flex;
}

.done, .delete-item
{
    margin-right: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

.done:hover, .delete-item:hover
{
    cursor: pointer;
    background-color: gray;
}

