.info-container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 100px;
  width: 100vw;
  box-sizing: border-box;
}

.info {
  display: flex;
  padding: 5px 40px;
  justify-content: center;
  align-items: center;
  column-gap: 70px;
  border: 2px solid;
  border-radius: 90px;
  width: 800px;
}

.play-pause
{
  width:100px;
  height: 25px;
  border: 2px solid white;
  background-color: white;
  border-radius: 4px;
}

.play-pause:hover
{
  border-color: rgb(176, 176, 176);
  background-color: rgb(176, 176, 176);
  cursor: pointer;
  box-shadow: -1px 3px 18px -2px rgba(255,255,255,0.5);
  -webkit-box-shadow: -1px 3px 18px -2px rgba(255,255,255,0.5);
  -moz-box-shadow: -1px 3px 18px -2px rgba(255,255,255,0.5);
}

.back {
  width: 24px;
  height: 24px;
  font-size: 20px;
  border-right: 2px solid;
  padding-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back:hover {
  font-size: 25px;
  cursor: pointer;
}

.game-section-container
{
  position: absolute;
  top: 180px;
  width: 100vw;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-section
{
  height: 100%;
  width: 900px;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  padding: 10px;
  background-color: gray;
}

.holder
{
  width: 211px;
  height: 285px;
  position: relative;
}

.cards
{
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1s ease-in;
}

.cards-rotate
{
  transform: rotateY(180deg);
}

.cards-rotate-again
{
  transform: rotateY(180deg);
}

.card1
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card2
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card1 img, .card2 img
{
  width: 211px;
  height: 285px;
}

.game-score
{
  position: absolute;
  bottom:40px;
  width: 100vw;
  height: 50px;
  padding: 0px 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  left: 0px;
  border: 2px solid;
  border-radius: 20px;
  font-size: 18px;
}

.new-game
{
  border: 2px solid;
  padding: 5px;
  height: 38px;
  width: 110px;
  text-align: center;
  border-radius: 5px;
  background-color: white;
  color: black;
  box-shadow: -1px 3px 18px -2px rgba(255,255,255,0.5);
  -webkit-box-shadow: -1px 3px 18px -2px rgba(255,255,255,0.5);
  -moz-box-shadow: -1px 3px 18px -2px rgba(255,255,255,0.5);
}

.new-game:hover
{
  cursor: pointer;
  background-color: rgb(174, 173, 173);
  font-size: 20px;
  transition: font-size 0.2s ease-in;
}

.try
{
  border: 2px solid;
  width: 90px;
}

.correct
{
  border: 2px solid;
  width: 120px;
}