.info-container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 120px;
  width: 100vw;
}

.info {
  display: flex;
  padding: 3px 40px;
  justify-content: center;
  align-items: center;
  column-gap: 70px;
  border: 2px solid;
  border-radius: 90px;
}

.play-pause
{
  width:70px;
  border: 2px solid white;
  background-color: white;
  border-radius: 4px;
}

.play-pause:hover
{
  border-color: gray;
  background-color: gray;
  cursor: pointer;
  box-shadow: -1px 3px 18px -2px rgba(255,255,255,0.5);
  -webkit-box-shadow: -1px 3px 18px -2px rgba(255,255,255,0.5);
  -moz-box-shadow: -1px 3px 18px -2px rgba(255,255,255,0.5);
}

.back {
  width: 24px;
  height: 24px;
  border-right: 2px solid;
  padding-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back:hover {
  font-size: 20px;
  cursor: pointer;
}