* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body
{
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; */
  background-color: rgb(40,40,40);
  color: white;
  flex-direction: column;
  row-gap: 40px;
  font-family:monospace ;
}

.nav
{
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 18px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: -1px 3px 18px -2px rgba(255,255,255,0.5);
  -webkit-box-shadow: -1px 3px 18px -2px rgba(255,255,255,0.5);
  -moz-box-shadow: -1px 3px 18px -2px rgba(255,255,255,0.5);
  border-bottom: 2px solid;
}

.nav2
{
  display: flex;
  column-gap: 50px;
}

.nav1 a
{
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 17px;
}

.nav1 a span
{
  font-size: 10px;
}

.link
{
  text-decoration: none;
  color: white;
}

.main-box
{
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}

.intro
{
  text-align: center;
}

.intro1
{
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

intro1::after
{
  content: '';
  position: absolute;
  left: 0px;
  height: 100%;
  width: 100%;
  border-left: 2px solid white;
  animation: typing 1.5s steps(37) infinite;
}

@keyframes typing
{
  100%
  {
    left: 100%;
  }
}

.button
{
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: none;
  box-shadow: -1px 3px 18px -2px rgba(255,255,255,0.5);
  -webkit-box-shadow: -1px 3px 18px -2px rgba(255,255,255,0.5);
  -moz-box-shadow: -1px 3px 18px -2px rgba(255,255,255,0.5);
}

.button:hover
{
  background-color: rgb(187, 187, 187);
  cursor: pointer;
  font-size: 15px;
  transition: font-size 0.3s ease-in;
}

.holder
{
  position: relative;
  width: 200px;
  height: 300px;
  border: 2px solid black;
}

.cards
{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1s ease-in;
}

.cards-rotate
{
  transform: rotateY(180deg);
}

.cards-rotate-again
{
  transform: rotateY(180deg);
}

.card1
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  
}

.card2
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

